<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1><%= title %></h1>
    </div>
  </div>
  <div class="container">

    <div>
      <div class="col-12" >
        <h1 >Pokemon API</h1>
      </div>
      <div class="col-12" >
        <a href="/prv09/pokemon/1">See all the List</a>
      </div>
    </div>

  </div>


</body>

</html>