* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@mixin hover {
    background: rgba(1, 1, 1, 0.5);
}

$red: rgb(185, 31, 31);
$green: rgb(18, 155, 52);
$blue: rgb(45, 91, 161);

//general
.btn {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 10px 12px 10px 12px;
    border: 1px solid #CCCCCC;
    margin: 2px;
    cursor: pointer;
}

.none {
    background-color: black;
    border: none;
    color: rgba(255, 5, 5, 0.815);
    cursor: pointer;
    font-size: 1em;
}

.nav-container {
    width: 100%;

    .nav-bar {
        max-width: 300px;
        margin-left: -300px;
        transition: margin .3s ease-in-out;

        .visible {
            margin-left: 0;
        }

        ul {
            background: #000;
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            position: relative;
            z-index: 4;

            li {
                padding: 10px;
                margin-left: 20px;

                a {
                    color: white;
                    text-decoration: none;
                }

                .active {
                    color: rgb(224, 153, 0);

                }


            }


        }


    }

}



//Layout Style

.parent {
    position: relative;
    top: -500px;
    width: 100%;
    z-index: 1;

    //Add product
    .container {

        justify-self: center;
        align-self: center;
        @include center;
        width: 100%;

        form {
            @include center;
            width: 20%;

            textarea {
                width: 100%;
                padding: 8px;
            }

            input,
            button {
                width: 100%;
                margin: 2px 0;
                padding: 8px;
            }

            button {
                background-color: $green;
                color: white;

                &:hover {
                    @include hover;
                }
            }
        }
    }

    //admin Product
    .admin-product {
        display: flex;
        flex-direction: column;
        justify-content: center;


        h1 {
            padding: 20px;
            text-align: center
        }

        .index {
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .card {
                text-align: center;
                width: 220px;
                margin: 0 2px;


                img {
                    height: 100%;
                    width: 100%;
                }

                p:first-of-type {
                    font-size: 25px;
                    font-weight: bolder;
                }

                form {
                    display: flex;
                    justify-content: space-around;
                    margin: 10px auto;
                    width: 50%;

                    a {
                        background-color: $green;
                        color: white;

                        &:hover {
                            @include hover;
                        }
                    }

                    input {
                        background-color: $red;
                        color: white;

                        &:hover {
                            @include hover;
                        }
                    }
                }

                //index

                .details {
                    display: flex;
                    justify-content: center;
                    margin: 10px 0 0 10px;
                    width: 92%;
                    align-items: center;

                    a {
                        background-color: $green;
                        color: white;

                        &:hover {
                            @include hover;
                        }
                    }

                    form {
                        margin: 0;
                        padding: 0;

                        button {
                            background-color: $blue;
                            color: white;

                            &:hover {
                                @include hover;
                            }
                        }
                    }
                }


            }



        }


    }

    .each {
        @include center;
        justify-content: center;

        height: 60vh;

        img {
            width: 30%;
        }

        form {
            margin: 0;
            padding: 0;

            button {
                background-color: $blue;
                color: white;

                &:hover {
                    @include hover;
                }
            }
        }
    }

    .cart {
        @include center;
        width: 50%;
        margin: auto;

        ul {
            margin: 0;

            padding: 50px 0 0 0;
            width: 100%;


            li {
                width: auto;
                display: flex;
                list-style-type: none;
                justify-content: space-between;
                align-items: center;


                p {
                    width: 100px;
                    margin: 0 10px;
                }

                form {
                    margin: 0;
                    align-self: end;

                    button {
                        background-color: $red;
                        color: white;

                        &:hover {
                            @include hover;
                        }
                    }
                }
            }

            form {
                margin: 10px 10px 10px 30px;
                text-align: center;

                button {
                    background-color: $blue;
                    color: white;

                    &:hover {
                        @include hover;
                    }
                }
            }

        }
    }

    .orders {
        @include center;


        p {
            font-size: 30px;
        }

        ul {
            .list {
                list-style-type: none;


            }
        }
    }
}










@media only screen and (max-width: 767px) {


    .nav-container {
        .nav-bar {
            ul {

                li {
                    margin-left: 20px;
                    padding: 10px;

                }
            }
        }

    }

    .parent {
        .container {
            form {
                padding: 2em;
                width: 100%;
            }
        }

        .admin-product {
            margin: -100px 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: center;





            h1 {
                padding: 20px;
                text-align: center;
                z-index: 9;
                position: relative;
            }

            .index {
                width: 100%;
                height: 100%;
                flex-wrap: wrap;
                display: flex;
                justify-content: center;

                .card {
                    margin: 10px 0;

                    .details {
                        display: flex;
                        justify-content: center;
                        margin: 10px 0 0 10px;
                        width: 92%;
                        align-items: center;

                        a {
                            background-color: $green;
                            color: white;

                            &:hover {
                                @include hover;
                            }
                        }

                        form {
                            margin: 0;
                            padding: 0;

                            button {
                                background-color: $blue;
                                color: white;

                                &:hover {
                                    @include hover;
                                }
                            }
                        }
                    }

                }

            }
        }

        .each {
            @include center;
            justify-content: flex-start;
            padding: 20px;

            p {
                margin: 10px 0;
            }

            h1 {
                margin: 10px 0;
                font-size: 25px;
            }

            img {
                width: 100%;
            }

            form {
                margin: 0;
                padding: 0;

                button {
                    background-color: $blue;
                    color: white;

                    &:hover {
                        @include hover;
                    }
                }
            }
        }

        .cart {
            @include center;
            width: 100%;
            padding: 20px;


        }

        .orders {
            @include center;

            width: 100%;

            display: flex;
            flex-direction: column;


            p {
                font-size: 15px;
                margin: 0 auto;
            }

            ol {
                margin: 10px 0;


            }
        }
    }
}